<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Spackenkill Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
            <img src="/static/Logo.jpg" alt="School Logo">
            <h1>Spackenkill High School</h1>
        </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}" {% if request.endpoint == 'home' %}class="active"{% endif %}>Home</a></li>
                <li><a href="{{ url_for('courses') }}" {% if request.endpoint == 'courses' %}class="active"{% endif %}>Course Selector</a></li>
                <li><a href="{{ url_for('clubs') }}" {% if request.endpoint == 'clubs' %}class="active"{% endif %}>School Clubs</a></li>
            </ul>
        </div>
    </nav>

    <main class="main-content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

</body>
</html>
